html, body {
    margin: 0;
    padding: 0;
}
.breadcrumb {
    background-color: white;
}
.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
}
body {
    background-color: rgb(240, 233, 233);
  
}
h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}